<include file="Public/header"/>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>姓名</th>
            <th><nobr>性别</nobr></th>
            <th>年级</th>
            <th>平台</th>
            <th>QQ</th>
            <th>电话</th>
            <th>邮箱</th>
        </tr>
        <foreach name="data" item="val">
            <tr>
                <td><nobr>{$val.name}</nobr></td>
                <td>{$val.sex}</td>
                <td><nobr>{$val.grade}</nobr></td>
                <td>{$val.platform}</td>
                <td>
                    <if condition="$val['qq']!=0">
                        {$val.qq}
                    </if>
                </td>
                <td>
                    <if condition="$val['tel']!=0">
                        {$val.tel}
                    </if>
                </td>
                <td>{$val.email}</td>
            </tr>
        </foreach>
    </table>
</div>
<script>

</script>
<include file="Public/footer"/>